1.8. Getting Started With Data
- 파이썬은 객체 지향 프로그래밍 패러다임을 지원함
- 객체 지향 프로그래밍 언어의 class는 데이터가 어떻게 보이는지 '상태'와 데이터가 할 수 있는 것 '동작'에 대한 설명이 되도록 정의함
- class의 사용자는 데이터 항목의 상태와 동작만 볼 수 있기 때문에 class는 추상 데이터 유형과 유사함
- 데이터 항목은 객체 지향 패러다임에서 객체라고 부르며 객체는 class의 instance임

1.8.1. Built-in Atomic Data Types

In [1]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

# Bollean

boolean data type은 자료형은 논리 자료형이라고도 하며, Ture(참)과 False(거짓) / and와 or를 나타내는데 쓰임

python 비교 연산자
   'equal' == 같다.
   'not equal' != 다르다.
   'greater than' > 크다.
   'less than' < 작다.
   'greater than or equal' >= 크거나 같다.
   'less than or equal' <= 작거나 같다.
   'logical and' and 두 연산자가 True이면 True
   'logical or' or 한 또는 다른 연산자가 True면 True
   'logical not' not 연산자가 True이면 False 연산자가 False면 True

In [4]:
True

True

In [5]:
False

False

In [11]:
False or True

True

In [1]:
False or False

False

In [12]:
not(False or True)

False

In [13]:
True and True

True

In [ ]:
Faslse

In [1]:
print(5==10)
print(10>5)
print((5>=1) and (5<=10))

False
True
True

In [6]:
theSum = 0
theSum

0

In [7]:
theSum = theSum + 1
theSum

1

In [8]:
theSum = True
theSum

True

1.8.2. Built-in Collection Data Types

In [10]:
[1, 3, True, 6.5]

[1, 3, True, 6.5]

In [11]:
myList = [1, 3, True, 6.5]
myList

[1, 3, True, 6.5]

In [12]:
myList

[1, 3, True, 6.5]

In [13]:
myList = [0] * 6
myList

[0, 0, 0, 0, 0, 0]

In [14]:
myList = [1, 2, 3, 4]
A = [myList]*3 # 지정한 리스트 내에 *연산자를 입력하면 리스트가 3번 반복됨
print(A)
myList[2] = 45 # 리스트의 3번째 자리에 입력한 숫자가 대입됨
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

# List 다루기

Method / Name / Use	Explanation
append / alist.append(item) / Adds a new item to the end of a list
insert / alist.insert(i,item) / Inserts an item at the ith position in a list
pop / alist.pop() / Removes and returns the last item in a list
pop / alist.pop(i) / Removes and returns the ith item in a list
sort / alist.sort() / Modifies a list to be sorted
reverse / alist.reverse() / Modifies a list to be in reverse order
del / del alist[i] / Deletes the item in the ith position
index / alist.index(item) / Returns the index of the first occurrence of item
count / alist.count(item) / Returns the number of occurrences of item
remove / alist.remove(item) / Removes the first occurrence of item

In [17]:
myList.append(myList)
myList

[1, 2, 45, 4, [...], [...]]

In [18]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)
myList.insert(2,4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)
print(myList.count(6.5))
print(myList.index(4.5))
myList.remove(6.5)
print(myList)
del myList[0]
print(myList)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

In [27]:
(54).__add__(21)

75

In [28]:
range(10)

range(0, 10)

In [29]:
list(range(10))
# 0 부터 시작하며 10은 포함하지 않음

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
range(5, 10)

range(5, 10)

In [31]:
list(range(5, 10))
# 5 부터 시작하며 10은 포함하지 않음

[5, 6, 7, 8, 9]

In [32]:
list(range(5, 10, 2))
# 10은 포함하지 않으며 2 씩 건너 뜀

[5, 7, 9]

In [33]:
list(range(10, 1, -1))
# 1은 포함되지 않으며 -1 씩 생성

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [35]:
"Jonathan"

'Jonathan'

In [36]:
myName = "Jonathan"

In [37]:
myName[3]

'a'

In [39]:
myName*2

'JonathanJonathan'

In [40]:
len(myName)

8

In [41]:
myName

'Jonathan'

In [42]:
myName.upper()

'JONATHAN'

In [46]:
myName.center(20)

'      Jonathan      '

In [59]:
myName.find('J')

0

In [61]:
myName.split('o')

['J', 'nathan']

In [67]:
myList = [1, 3, True, 6.5]
myList
myList[0] = 2**10
myList

[1024, 3, True, 6.5]

In [70]:
print(myName)
myName[0] = 'X'

Jonathan

TypeError: 'str' object does not support item assignment

# Tuple 다루기

In [71]:
myTuple = (2, True, 4.96)
myTuple

(2, True, 4.96)

In [72]:
len(myTuple)

3

In [73]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [74]:
myTuple[0:2]

(2, True)

In [75]:
myTuple[1] = False

TypeError: 'tuple' object does not support item assignment

# Set 다루기

In [76]:
{3, 6, "cat", 4.5, False}

{3, 4.5, 6, False, 'cat'}

In [78]:
mySet = {3, 6, "cat", 4.5, False}
mySet

{3, 4.5, 6, False, 'cat'}

In [79]:
len(mySet)

5

In [80]:
"dog" in mySet

False

Method /Name / Use / Explanation
union / aset.union(otherset) / Returns a new set with all elements from both sets
intersection / aset.intersection(otherset) / Returns a new set with only those elements common to both sets
difference / aset.difference(otherset) / Returns a new set with all items from first set not in second
issubset / aset.issubset(otherset) / Asks whether all elements of one set are in the other
add / aset.add(item) / Adds item to the set
remove / aset.remove(item) / Removes item from the set
pop / aset.pop() / Removes an arbitrary element from the set
clear / aset.clear() / Removes all elements from the set

In [94]:
mySet = {False, 4.5, 3, 6, 'cat'}
mySet

{3, 4.5, 6, False, 'cat'}

In [93]:
yourSet = {99, 3, 100}

In [95]:
mySet.union(yourSet)

{100, 3, 4.5, 6, 99, False, 'cat'}

In [96]:
mySet | yourSet

{100, 3, 4.5, 6, 99, False, 'cat'}

In [97]:
mySet.intersection(yourSet)

{3}

In [98]:
mySet & yourSet

{3}

In [99]:
mySet.difference(yourSet)

{4.5, 6, False, 'cat'}

In [100]:
mySet - yourSet

{4.5, 6, False, 'cat'}

In [101]:
{3,100}.issubset(yourSet)

True

In [102]:
{3,100}<=yourSet

True

In [103]:
mySet.add("house")
mySet

{3, 4.5, 6, False, 'cat', 'house'}

In [104]:
mySet.remove(4.5)
mySet

{3, 6, False, 'cat', 'house'}

In [105]:
mySet.pop()

False

In [106]:
mySet

{3, 6, 'cat', 'house'}

In [108]:
mySet.clear()
mySet

set()

# dictionary 다루기

Operator / Use / Explanation
[]	/ myDict[k]	/ Returns the value associated with k, otherwise its an error
in / key in adict / Returns True if key is in the dictionary, False otherwise
del / del adict[key] / Removes the entry from the dictionary

In [109]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
capitals

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison'}

In [110]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals['Iowa'])

DesMoines

In [111]:
capitals['Utah']='SaltLakeCity'
print(capitals)

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}

In [112]:
capitals['California']='Sacramento'
print(len(capitals))

4

In [113]:
for k in capitals:
   print(capitals[k]," is the capital of ", k)

DesMoines  is the capital of  Iowa
Madison  is the capital of  Wisconsin
SaltLakeCity  is the capital of  Utah
Sacramento  is the capital of  California

In [114]:
phoneext={'david':1410,'brad':1137}
phoneext

{'david': 1410, 'brad': 1137}

In [115]:
phoneext.keys()

dict_keys(['david', 'brad'])

In [118]:
phoneext.values()

dict_values([1410, 1137])

In [119]:
list(phoneext.keys())

['david', 'brad']

In [120]:
phoneext.items()

dict_items([('david', 1410), ('brad', 1137)])

In [121]:
list(phoneext.items())

[('david', 1410), ('brad', 1137)]

In [122]:
phoneext.get("kent")

In [123]:
list(phoneext.items())

[('david', 1410), ('brad', 1137)]

In [124]:
phoneext.get("kent","NO ENTRY")

'NO ENTRY'

In [125]:
list(phoneext.items())

[('david', 1410), ('brad', 1137)]

In [ ]:
>>> phoneext={'david':1410,'brad':1137}
>>> phoneext
{'brad': 1137, 'david': 1410}
>>> phoneext.keys()
dict_keys(['brad', 'david'])
>>> list(phoneext.keys())
['brad', 'david']
>>> phoneext.values()
dict_values([1137, 1410])
>>> list(phoneext.values())
[1137, 1410]
>>> phoneext.items()
dict_items([('brad', 1137), ('david', 1410)])
>>> list(phoneext.items())
[('brad', 1137), ('david', 1410)]
>>> phoneext.get("kent")
>>> phoneext.get("kent","NO ENTRY")
'NO ENTRY'